*.git.bkp

#Eclipse
.settings
.classpath
.project
.metadata
bin/

#WebStorm e IntellijIDEA
*.iml
.idea/
*.orig
out/

# Build do Gradlew
/.gradle/
*gradle/
build/
classes/

# except subproject
!salesforce-cubus
!salesforce-rebate-consumer
!salesforce-dinamize-consumer
